<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bluehawk.xingyaplearning"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_koala"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bluehawk.xingyaolearning.word.MainActivity">
        </activity>
        <activity android:name="com.bluehawk.xingyaolearning.word.LearningActivity">
        </activity>
        <activity
            android:name="com.bluehawk.xingyaolearning.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>